.container .location{
    text-align: start;
  font-size: x-large;
 font-weight: bolder;
margin-top: 20px;
  
}


.box{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
    padding: 20px;
    font-size: medium;
   font-weight: bold;
   background-color:red;
  
  }
   .box:hover{
   background-color: blue;
   border-bottom: 4px solid #fff;
   transition: all 0.4s ease-out;
   }
   .container{
    position: relative;
    text-align: center;
    font-size: x-large;
    inset-inline: 0px;
    
   
    
   }
   