.container{
    background-image: url(../../assets/daniel-ramirez-q4TfWtnz_xw-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
    background-attachment: fixed;
    
    background-size:cover;
    z-index: -1;
    
    
}